<div class="row justify-content-center" style="margin-top: 5rem;">
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-center mb-5">Programmeerbalie</h1>
    </div>
</div>

<ul>
<% @courses.each do |course| %>
<li><%= link_to course.name, planner_path(course.id) %></li>
<% end %>
</ul>
