<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h2>📅 Appointment</h2>
    <p>
        Your appointment is on
        <strong><%= @appointment.formatted_starting_time %></strong>.
    </p>
    <p>
        Location: <strong><%= @appointment.location %></strong>
    </p>
    <p>
        <%= link_to 'Change or cancel your appointment', appointment_url(@appointment) %>
    </p>
</body>
</html>
