<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>Appointment</h1>
    <p>
        Your appointment is at
        <strong><%= @appointment.starting_time.to_formatted_s(:rfc822) %></strong>.
    </p>
    <p>
        Location: <%= @appointment.location %>
    </p>
    <p>
        <%= link_to 'Change or cancel your appointment', appointment_url(@appointment) %>
    </p>
</body>
</html>
