.card-x
{
    padding-top: 5px;
    padding-right: 5px;
    color: var(--bs-gray);
    font-size: 24px;
    cursor: pointer;
}

.card-x:hover
{
    color: var(--bs-primary);
}

.live-row, .live-col
{
    transition: opacity 0.4s;
}

.card
{
    &.done
    {
        
        background: linear-gradient(to bottom right, white 50%, orange 50.3%, white 50.4%);
    }
    &.cancelled
    {
        background: linear-gradient(to bottom right, white 50%, red 50.3%, white 50.4%);
    }
}
