<div class="row justify-content-center">
    <div class="col-lg-6">
        <h2>📅 Appointment</h2>
        <p>
            Your appointment is on
            <strong><%= @appointment.formatted_starting_time %></strong>.
        </p>
        <p>
            Location: <strong><%= @appointment.location %></strong>
        </p>
        <p>
            Currently, you can't change your appointment via this website.
        </p>
    </div>
</div>
