<div class="row justify-content-center">
    <div class="col-lg-6">
        <h2>📅 Appointment</h2>

        <% unless @appointment.cancelled? %>
        <p class="mt-4">
            Your appointment
            <% if @appointment.active? %>
            will take
            <% else %>
            took
            <% end %>
            place on <strong><%= @appointment.formatted_starting_time %></strong>.
        </p>
        <p>
            Location: <strong><%= @appointment.location %></strong>
        </p>
        <% else %>
        <p class="mt-4">
            Your appointment was <strong>cancelled</strong>. It was formerly planned at <%= @appointment.formatted_starting_time %>.
        </p>
        <% end %>

        <% if @appointment.active? %>
        <p>
            <%= button_to '🗑 Cancel Now', appointment_cancel_path(@appointment), method: :put, onclick: 'return confirm("Really cancel?");', class: 'btn btn-primary', form_class: 'd-inline-block' %>
        </p>
        <% end %>
    </div>
</div>
